body {
  padding: 1em;
  font-family: sans-serif;
  font-size: 1.4em;
  max-width: 1000px;
  margin: auto;
}
.error {
  color: red;
}
.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
.product {
  padding: 1em;
  border: 1px solid #333;
}
.product h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
.product img {
  display: block;
  margin: auto;
}
